body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax1 {
    background-image: url('./img/tiger.jpg');
    background-size: 50%; 
}

.parallax2 {
    background-image: url('./img/minnion.png');
    background-size: 30%;
}

.content {
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

